<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="index.html"><img src="../../app/assets/images/logo.svg" class="img-fluid" title="" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
       <div class="ml-auto">
          <div class="header-right-detail py-3">
                <h4 class="mb-5"><span class="mr-4 pr-3"><img src="../../app/assets/images/temperature.svg" alt=""> 5 °C</span> Need help?</h4>
             <div class="scaner-block">
                <h3 class="mr-5">Prefer to shop touch-free? <span>No app needed. Just scan this QR with your phone. </span> </h3>
                <div class="scanner-item ml-5"><img src="../../app/assets/images/scaner.svg" alt=""></div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </nav>